<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="firebasepratice.com.firebasepracticetest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/yalaface"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/yalaface"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminMainActivity"
            android:label="@string/title_activity_admin_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AddBookActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".TestActivity" />
        <activity android:name=".BookEntryActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity
            android:name=".UserLoginActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".UserMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BookDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>